body{
    background-color: black;
}

.navbar a{
    display: block;
    position: relative;
    font-family: lemon milk;
    margin-top: 30px;
    left: 20px;
    font-style: normal;
    font-size: 27px;
    line-height: 28px;
    color: #FFFFFF;

}


.navbar a:hover{
    color: yellow;
}

.navbar-toggler {

    background-color: yellow;
  }

  .row col img{
      padding: 0%;
  }

  .col{
    flex-grow: 0;
    padding: 0%;
    margin: 0%;
  }

  .row{
      margin: 0%;
  }