.section-um{
    background-color: #000;
    img {
   
}
    color: #fff;
}
.menu{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
     margin-top: 35px;
}

.texto-menu{
    font-size: 24px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 30px 20px;
}
.texto-header span{
    font-size: 80px;

    display: block;
}
    .amarelo{
        color: #E8EC14;
    }

.texto-header{
    margin-top: 100px;
    margin-bottom: 50px;
}

.foto1 img {
    width: 300px;
}
.foto2 img {
    width: 300px;
}
.foto3 img {
    width: 300px;
}
.ambientes{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.span {
    font-weight: 600;
}
.amarelo {
     font-weight: 600;
}

.icones {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 60px;
}

.bar p {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;

        
}

.restaurante p {
        text-align: center;
         font-size: 25px;
        margin-top: 20px;
}
.adega p {
        text-align: center;
           font-size: 25px;
        margin-top: 20px;
}
.balada p {
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
}
.bar{
       transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{transform: scale(1.1);
    }
}

.restaurante  {
           transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{transform: scale(1.1);
    }
}
.adega  {
           transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{transform: scale(1.1);
    }
}
.balada  {
           transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{transform: scale(1.1);
    }
}
.home a {
    text-decoration: none;
     transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: #e6ea06;
    }
}
.acasa a {
      text-decoration: none;
         transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: #e6ea06;
    }
}
.reservas a {
      text-decoration: none;
         transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: #e6ea06;
    }
}
.localizacao a {
      text-decoration: none;
         transition: 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: #e6ea06;
    }
}
.bar img {
    width: 150px;
}
.restaurante img {
      width: 150px;  
}
.adega img {
        width: 150px;
}

.balada img {
        width: 150px;
}

.botao-reserva {
    color: #E8EC14;
        background-color: transparent;
    font-size: 25px;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px; 
           transition: 0.3s ease-in-out;
     &:hover,
    &:active,
    &:focus{
          box-shadow: 0 0 5px #E8EC14,

              0 0 25px #E8EC14,

              0 0 25px #E8EC14,

              0 0 25px #E8EC14;
        
    }
}

.reserva-cta{
        display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
}
.home a {
    text-decoration: none!important;
}
.acasa a {
    text-decoration: none!important;  
}
.reservas a {
      text-decoration: none!important;
}
.localizacao a {
      text-decoration: none!important;
}