.facebook a{
    color: #000;
     font-size: 16px;
     font-weight: 600;
}
.insta a {
   color:  #000;
     font-size: 16px;
     font-weight: 600;
}

.wpp a {
    font-size: 16px;
     font-weight: 600;
}

.wpp-adega a{
     color: #000;
    font-size: 16px;
     font-weight: 600;
}
.insta-adega a{
      color:  #000;
     font-size: 16px; 
     font-weight: 600;
}
.face-adega a {
        color: #000;
     font-size: 16px;
     font-weight: 600;
}
.adega p {
    margin-bottom: 10px;
}
.siga p {
    margin-bottom: 10px; 
}
.wpp a {
      color: #000; 
}
.wpp .fa-whatsapp {
    font-size: 22px;
    margin-bottom: 10px;
}
.insta .fa-instagram {
    font-size: 22px;
    margin-bottom: 10px;
}
.facebook .fa-facebook {
    font-size: 22px;
    margin-bottom: 10px;
}
.wpp-adega .fa-whatsapp {
     font-size: 22px;
    margin-bottom: 10px;   
}
.insta-adega .fa-instagram {
        font-size: 22px;
    margin-bottom: 10px;
}
.face-adega .fa-facebook {
        font-size: 22px;
    margin-bottom: 10px;
}

.siga p {
    font-weight: 900;
}
