.footer{
    background-color: #E8EC14;
    margin-top: 100px;
}
.sec-footer {
    padding-top: 50px;

    
}
.siga p {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.adega p {
     font-size: 16px;
    color: #000;
    font-weight: bold;   
}
.app-delivery p {
        font-size: 16px;
    color: #000;
    font-weight: bold;
}
.wpp a {
    font-size: 14px;
}
.insta a {
    font-size: 14px; 
}
.facebook a {
     font-size: 14px;
}
.wpp-adega a {
     font-size: 14px;
}
.insta-adega a {
     font-size: 14px;
}
.face-adega a {
     font-size: 14px;
}
.facebook a{
    color: #000;
     font-size: 16px;
     font-weight: 600;
}
.insta a {
   color:  #000;
     font-size: 16px;
     font-weight: 600;
}

.wpp a {
    font-size: 16px;
     font-weight: 600;
}

.wpp-adega a{
     color: #000;
    font-size: 16px;
     font-weight: 600;
}
.insta-adega a{
      color:  #000;
     font-size: 16px; 
     font-weight: 600;
}
.face-adega a {
        color: #000;
     font-size: 16px;
     font-weight: 600;
}
.adega p {
    margin-bottom: 10px;
}
.siga p {
    margin-bottom: 10px; 
}
.wpp a {
      color: #000; 
}
.wpp .fa-whatsapp {
    font-size: 22px;
    margin-bottom: 10px;
}
.insta .fa-instagram {
    font-size: 22px;
    margin-bottom: 10px;
}
.facebook .fa-facebook {
    font-size: 22px;
    margin-bottom: 10px;
}
.wpp-adega .fa-whatsapp {
     font-size: 22px;
    margin-bottom: 10px;   
}
.insta-adega .fa-instagram {
        font-size: 22px;
    margin-bottom: 10px;
}
.face-adega .fa-facebook {
        font-size: 22px;
    margin-bottom: 10px;
}

.siga p {
    font-weight: 900;
}

.app-delivery p {
    text-align: center;
}

.colunaum {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.app-delivery p {
    margin-bottom: 20px;
}
.footer{
    padding-bottom: 50px;
}
