.section-um{
    color: #fff;
}
.menu{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
     margin-top: 35px;
}

.texto-menu{
    font-size: 24px;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 30px 20px;
}
.texto-header span{
    font-size: 80px;

    display: block;
}
    .amarelo{
        color: #E8EC14;
    }


    
.texto-header{
    margin-top: 100px;
    margin-bottom: 50px;
}

.texto-header h1 {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
}
.botao-reserva {
    background-color: #E8EC14;
    padding: 15px 60px;
    color: #000;
    font-size: 24px;
    border-radius: 20px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 200px;
}


//  mobile
@media(max-width: 991px){
    .texto-header span{
        font-size: 40px;
    }  
        .reserva-cta {
              display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        }
        .img-casa img {
        margin-left: 0px;
        }
     
        .form{
            margin-left: 0px;
        }
        .botao {
            width: 100%;
        }
    .adega p {
        margin-top: 20px;
    }
        .colunaum{
                display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        }
    .app-delivery p {
        text-align: left;
    }
    .adega p {
        font-weight: 900;
    }
        .app-delivery p {
            margin-top: 20px;
             font-weight: 900;
        }
    
    }
    

    // menu responsivo
    .menu-responsivo img {
        width: 50px;
        margin-top: 20px;
    }
    .menu-responsivo {
        a{
               font-size: 20px;
        }
    }
    
    .header ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
    
          }
          
          .header li a {
            display: block;
            text-decoration: none;
          }
          
          .header li a:hover,
          .header .menu-btn:hover {
          }
          
          .header .logo {
            display: block;
            float: left;
            font-size: 2em;
            text-decoration: none;
          }
          
          /* menu */
          
          .header .menu {
            clear: both;
            max-height: 0;
            transition: max-height .2s ease-out;
          }
          
          /* menu icon */
          
          .header .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: right;
            position: relative;
            user-select: none;
          }
          
          .header .menu-icon .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
          }
          
          .header .menu-icon .navicon:before,
          .header .menu-icon .navicon:after {
            background: rgb(255, 255, 255);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
          }
          
          .header .menu-icon .navicon:before {
            top: 5px;
          }
          
          .header .menu-icon .navicon:after {
            top: -5px;
          }
          
          /* menu btn */
          
          .header .menu-btn {
            display: none;
          }
          
          .header .menu-btn:checked ~ .menu {
            max-height: 240px;
          }
          
          .header .menu-btn:checked ~ .menu-icon .navicon {
            background: transparent;
          }
          
          .header .menu-btn:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
          }
          
          .header .menu-btn:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
          }
          
          .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
          .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
          }
          
          /* 48em = 768px */
          
          @media (min-width: 48em) {
            .header li {
              float: left;
            }
            .header li a {
              padding: 20px 30px;
            }
            .header .menu {
              clear: none;
              float: right;
              max-height: none;
            }
            .header .menu-icon {
              display: none;
            }
          }
      