
.banner img{
    margin-top: 100px;
    border-radius: 2px;
    height: 500px;
    margin-bottom: 80px;
}

.titulo-casa {
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
}
hr {
    width:200px;
}

.hr {
    width: 200px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
.texto span{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.texto {
     font-size: 28px;
    color: #fff;
    text-align: center;
}

// formulario

.formulario-form {
    background-color: transparent;
    padding: 0px !important;
    margin: 40px 0px;
    color: #000;
 }
 
 .form-campos {
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    width: 420px;
 }
 
 
 
 .mensagem {
    padding: 10px 10px 80px 10px;
 }
 .jsFormTel {
    color: #0000;
 }
 
 .enviar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
 }
 
 .form {
    width: 420px;
 }
 
 .botao {
    padding: 10px 15px;
    border-radius: 5px;
       transition: 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            background: darken(#f8ba13, 20);
        }
 }
 
 .botao {
   margin-top: 15px;
   background-color: #f8ba13;
 }
 
 .form-campos {
    transition: 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
            background: darken(#fff, 25);
        }
 }
 
 .form > p {
    font-size: 34px;
    color: #f8ba13;
    margin-top: 25px;
 }
 .tel .form-campos {
    color: #000;
 }
 
 .wpcf7-response-output {
    color: #fff;
 }
 .form{
    max-width: 100%;
 }
 
 .form-campos{
 max-width: 100%;
 }

//  formulario
.titulo h1 {
    font-size: 40px;
    color: #fff;
}
.dois hr {
    width: 300px;
    border: 1px solid #fff;
    background-color: #fff;
}

.carousel img{
    height: 500px;
    margin-bottom: 50px;
}
.carousel{
    margin-bottom: 100px;
}
.img-casa img {
    width:350px;
    margin-left: 100px;
}
.texto-casa{
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
    strong{
        color:#E8EC14;
    }
}
.parafrago-um p {
    margin-bottom: 20px;
}
.paragrafo-dois p {
        margin-bottom: 20px;
}
.titulo h2 {
    font-size: 40px;
    color: #fff;
}
.col-sm-6 hr {
    width: 300px;
    border: 1px solid #fff;
    background-color: #fff;
}
.quatro{
    margin-top: 200px;
}
.contato .logo {
        display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 200px;
}
.telefone a {
    font-size: 24px;
    color: #fff;
}
.email a {
     font-size: 24px;
    color: #fff; 
}

.form {
    margin-left: 100px;
}

.form {
    margin-top: 100px;
}
.cinco h2 {
        font-size: 40px;
    color: #fff;
    margin-top: 100px;
}
.cinco hr {
    width: 300px;
    border: 1px solid #fff;
    background-color: #fff; 
    
}
.cinco h2 {
    margin-bottom: 10px;
}

.jsFormNome {
    font-size: 14px;
}
.jsFormEmail {
    font-size: 14px;
}
.dg-tel {
    font-size: 14px;
}
.jsFormMensagem {
    font-size: 14px;
}
.botao {
    font-size: 18px;
}

.mapa{
    margin-top: 50px;
    iframe{
        width: 100%;
        border-radius: 5px;
    }

}
.endereco p {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.rappi img {
    width: 50px;
    margin-bottom: 10px;
}
.ifood img {
     width: 50px;
        margin-bottom: 10px;
}
.ubereats img {
     width: 70px;
        margin-bottom: 10px;
}
.zedelivery img {
      width: 70px;
        margin-bottom: 10px;
}

.telefone {
    margin-top: 20px;
    text-align: center;
}
.email {
  text-align: center;  
}

.home a {
    transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      }
}

.acasa a {
       transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      } 
}
.reservas a {
           transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      } 
}
.localizacao a {
           transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      } 
}
.botao-reserva {
               transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          background-color:darken(#E8EC14, 20)
      } 
}
.telefone a {
               transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      } 
}
.email a {
               transition: 0.3s ease-in-out;
      &:hover,
      &:active,
      &:focus {
          color: #E8EC14;
      } 
}

.wpcf7-response-output {
    font-size: 14px;
}

@media(max-width: 991px){
    .img-casa img {
        margin-left: 0px;
        }
     
        .form{
            margin-left: 0px;
        }
        .botao {
            width: 100%;
        }
}

.dg-mapa iframe{
    pointer-events: none;
}