
.banner img{
    margin-top: 100px;
    border-radius: 50px;
    height: 500px;
    margin-bottom: 80px;
}

.titulo-casa {
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
}
hr {
    width:200px;
}

.hr {
    width: 200px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
.texto span{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.texto {
     font-size: 28px;
    color: #fff;
    text-align: center;
}