.section-dois {
    background-color: #202020;
}
.banner img{
    margin-top: 100px;
    border-radius: 50px;
    height: 500px;
    margin-bottom: 80px;
}

.titulo-casa {
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
}
hr {
    width:200px;
}

.hr {
    width: 200px;
    border: 1px solid #E8EC14;
    background-color: #E8EC14;
}
